<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LPLOL{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="layout-container">
        <nav class="sidebar">
            <a href="{{ url_for('index') }}" class="sidebar-brand">MAKE LCL<br> Great Again</a>
            <ul class="sidebar-nav">
                <!--<li><a href="{{ url_for('scrims') }}" class="nav-link {% if request.endpoint == 'scrims' %}active{% endif %}">Scrims</a></li>-->
                <li><a href="{{ url_for('tournament') }}" class="nav-link {% if request.endpoint == 'tournament' %}active{% endif %}">Champions</a></li>
                <li><a href="{{ url_for('jng_clear') }}" class="nav-link {% if request.endpoint == 'jng_clear' %}active{% endif %}">JNG Clear</a></li>
                <li><a href="{{ url_for('objects') }}" class="nav-link {% if request.endpoint == 'objects' %}active{% endif %}">Objects</a></li>
                <li><a href="{{ url_for('swap') }}" class="nav-link {% if request.endpoint == 'swap' %}active{% endif %}">Swap</a></li>
                <li><a href="{{ url_for('wards') }}" class="nav-link {% if request.endpoint == 'wards' %}active{% endif %}">Wards</a></li>
                <li><a href="{{ url_for('proximity') }}" class="nav-link {% if request.endpoint == 'proximity' %}active{% endif %}">Proximity</a></li>
                <li><a href="{{ url_for('start_positions') }}" class="nav-link {% if request.endpoint == 'start_positions' %}active{% endif %}">Start Positions</a></li>
                <li><a href="{{ url_for('search_draft') }}" class="nav-link {% if request.endpoint == 'search_draft' %}active{% endif %}">Search Draft</a></li>
                <!--<li><a href="{{ url_for('fearless') }}" class="nav-link {% if request.endpoint == 'fearless' %}active{% endif %}">Fearless Drafting</a></li>-->
                <!--<li><a href="{{ url_for('soloq') }}" class="nav-link {% if request.endpoint == 'soloq' %}active{% endif %}">SoloQ Stats</a></li>-->
            </ul>
            <div class="sidebar-footer">
                <h3>Contact</h3>
                <a href="https://x.com/heovech" style="color: rgb(241, 241, 241);">Twitter</a>
                <h5>discord: heovech</h5>
                 <p>&copy; {{ now.year }}</p>
            </div>
        </nav>
        <main class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages-container container">
                {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>